<!DOCTYPE html>
<html>
    <head>
        <title>Omnibus</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!-- <link rel="stylesheet" type="text/css" href="index.css"> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
		<script src="https://github.com/jasonzissman/TimeMe.js/blob/master/timeme.js" type="text/javascript" async></script>		
		<style>
		
		body {
  background-color: #000;
}

#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
}

#landing-header h1 {
  color: #fff;
}

.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; 
}

.slideshow li:nth-child(1) { 
  background-image: url(https://img.ezinearticles.com/wallpaper/writers-desk-1920x1200.jpg) 
}
.slideshow li:nth-child(2) { 
  background-image: url(https://i.pinimg.com/originals/07/a4/e0/07a4e08818d2acc4dae376554dbedc1a.jpg);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(https://img.ezinearticles.com/blog/wallpapers/2011/cloud-1920x1200.jpg);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(https://newcastleadvertiser.co.za/wp-content/uploads/sites/61/2015/07/lets-write-something-writing-4545938-1024-768.jpg);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(https://images.pexels.com/photos/210660/pexels-photo-210660.jpeg?cs=srgb&dl=silver-click-pen-on-open-book-210660.jpg&fm=jpg
  );
  animation-delay: 40s; 
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}
		</style>
    </head>
    <body>
    
      
    <div id="landing-header">
 		<h1>Welcome to Omnibus!</h1>
		<a href="/articles" class="btn btn-lg btn-success">Get Started!!</a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<%- include ('partials/footer') %>